body{
margin:0;
font-family:Arial,sans-serif;
background:#f4f6f9;
}

header{
background:#0066cc;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
font-weight:bold;
}

.hero{
text-align:center;
padding:40px;
}

.hero input{
padding:12px;
width:250px;
}

.hero button{
padding:12px;
margin:10px;
background:#0066cc;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

.title{
text-align:center;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.card{
width:250px;
background:white;
padding:20px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;
}

.card button{
padding:10px 20px;
background:#0066cc;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.dark{
background:#111;
color:white;
}

.dark .card{
background:#333;
color:white;
}

footer{
background:#0066cc;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}